# Requisitos para misiones múltiples
# missionId | optionId | itemId | amount | label

5 | ocean | 5002 | 2 | Caja oceano
5 | frozen | 4405 | 2 | Caja congelada
5 | oasis | 4407 | 2 | Caja oasis
5 | jungle | 3208 | 2 | Caja selva
5 | corruption | 3203 | 2 | Caja corrompida
5 | crimson | 3204 | 2 | Caja carmesí
5 | sky | 3206 | 2 | Caja celestial
5 | dungeon | 3205 | 2 | Caja calabozo
5 | obsidian | 4877 | 2 | Caja obsidiana
2 | trophydm | 1361 | 1 | Trofeo Devoramundos
2 | trophycc | 1362 | 1 | Trofeo Cerebro
3 | ende | 57 | 100 | Lingotes Endemoniados
3 | carme | 1257 | 100 | Lingotes Carmesí 
1 | bunnydia | 4843 | 5 | Conejo diamante
1 | squidia | 4836 | 5 | Ardilla diamante
4 | respfue | 318 | 60 | Resplandor fuego