# Requisitos para misiones múltiples
# missionId | optionId | itemId | amount | label


1 | pergala | 5340 | 5 | Perla galáctica
2 | almaluz | 520 | 50 | Alma luz
2 | almanoc | 521 | 50 | Alma noche
2 | almvue | 575 | 50 | Alma vuelo
3 | linadam | 391 | 50 | Lingotes adamantita
3 | lintita | 1198 | 50 | Lingotes titanio
4 | gusagom | 5341 | 2 | Gusano goma
5 | selva | 1533 | 1 | Llave selva
5 | corrup | 1534 | 1 | Llave corrupta
5 | carme | 1535 | 1 | Llave carmesí
5 | sagra | 1536 | 1 | Llave sagrada
5 | congel | 1537 | 1 | Llave congelada
5 | desier | 4714 | 1 | Llave desierto